<div class="profile-container">
    <h1><%= title%></h1>

    <div class="spacing">
        <% if(notice){%>
            <div class="alert alert-success">
                <%= notice %>
            </div>
        <% } %>
        <% if(error){%>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
    </div>

    <div class="profile-details">

    </div>

</div>