<<<<<<< HEAD
<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
=======
<!DOCTYPE html>
<% const d = new Date()
let year = d.getFullYear() %>

<footer>
    <p class="copyright"> &copy ; <%= year %>, CSE 340 App </p>
>>>>>>> a32d44f (Updating database folder with Queries needed for this week activities)
</footer>