<header class="header">
    <span class="logo">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div class="account d-flex align-items-center">
        <div class="btn-group" role="group">
            <a href="/account/login" class="btn btn-outline-primary btn-sm mx-1" title="Click to log in">
                <i class="fas fa-sign-in-alt"></i> Sign in
            </a>
            <a href="/account/register" class="btn btn-primary btn-sm mx-1" title="Click to register">
                <i class="fas fa-user-plus"></i> Sign up
            </a>
            <a href="/profile/profile" class="btn btn-outline-secondary btn-sm mx-1" title="Click to profile">
                <i class="fas fa-user-circle"></i> My Account
            </a>
        </div>
    </div>
  </header>