<<<<<<< HEAD
<header class="header">
    <span class="logo">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div class="account-link">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
  </header>
=======
<!DOCTYPE html>
<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
</header>
>>>>>>> a32d44f (Updating database folder with Queries needed for this week activities)
