<<<<<<< HEAD
<nav class="navbar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Custom</a></li>
        <li><a href="#">Sedan</a></li>
        <li><a href="#">SUV</a></li>
        <li><a href="#">Truck</a></li>
=======
<!DOCTYPE html>
<nav>
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
>>>>>>> a32d44f (Updating database folder with Queries needed for this week activities)
    </ul>
</nav>