/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}



/********** Header ***************/
.header{
  display: flex;;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  
}

.logo a {
  text-decoration: none;
  color: #333;
}

.account-link {
  font-size: 15px;
  color: #a4b925;
  font-family: Arial, sans-serif;
}

.account-link a {
  text-decoration: none;
}


/********** Navbar ***************/
.navbar {
  background-color: #333;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.navbar ul li {
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

/************* Body *****************/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d6d0d0;
}


main {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


main, .header, footer, .navbar{
  max-width: 1200px;
  margin: 0 auto;
}

/************* Welcome section *****************/
.welcome {
  background-color: #fff;
  padding: 20px;

}

.car-features {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.car-title {
  font-size: 18px;
  font-weight: bold;
  color: #a4b925;
}

.car-features li {
  line-height: 1.5;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #a4b925;
  color: #333;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}

.welcome-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.car-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.car-highlight {
  width: 100%;
  max-width: 300px;
  margin-right: 20px;
  text-align: center;
  background-color: #383838;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 0;
}
/********** Sections Upgrade /Review ***************/


.reviews, .upgrades {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
}

.reviews li {
  line-height: 1.5;
}

.upgrade-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.upgrade-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 200px;
}

.upgrade-image-container {
  width: 150px;
  background-color: #383838;
}


.upgrade-item img {
  width: 100px;
  height: auto;
}

/********** Inventory View ***************/

.classification-container, .details-container{
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;

}

.classification-container h1 {
  text-align: center;
  padding: 20px;
}

#inv-display, .details-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inv-display  li {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 400px;
  margin-bottom: 20px;
}

#inv-display li::marker {
  display: none;
}

#inv-display  a {
  text-decoration: none;
  color: #333;
}

.namePrice {
  text-align: center;
}

/********** Inventory Detail view ***************/


.vehicle-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.vehicle-description-container {
  width: 100%;
}


.vehicle-description-container p{
  padding: 10px;
  margin: 10px;
  text-wrap: wrap;
}

.vehicle-image-container img{

  max-width: 100%;
  height: auto;
}

/************** Login view ***************/
.login-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.login-container h2 {
  text-align: center;
}

.login-form {
  background-color: #a4b925;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.5);
}

.form-line-division {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}


.form-group label {
  margin-bottom: 10px;
}

.login-btn {
  display: flex;
  justify-content: center;
}
.login-btn button{
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  width: 150px;
}

.form-footer {
  margin: 0;
  padding: 0;
}

.form-footer a {
  color:black;
  font-weight: bold;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 35px; /* Space for the eye icon */
}

.password-toggle {
    position: absolute;
    right: -40px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.password-toggle img {
  width: 30%;
}

/************** Registration view ***************/
.registration-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.registration-container h2 {
  text-align: center;
}

.registration-form {
  background-color: #a4b925;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.5);
}

.form-line-division {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}


.form-group label {
  margin-bottom: 10px;
}

.register-btn {
  display: flex;
  justify-content: center;
}
.register-btn button{
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  width: 150px;
}

.form-footer {
  margin: 0;
  padding: 0;
}

.form-footer a {
  color:black;
  font-weight: bold;
}


.password-requirements {
  padding: 10px;
  margin: 10px 0;

}

.notice {
  font-size: 15px;
  color: #333;
}

.notice {
  text-decoration: none;
}

/************** Management view ***************/
.inv-management-container, .add-classification-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  height: 60vh;
}

.inv-management-container h1, .add-classification-container h1{
  padding: 20px;
}

.management-links, .add-classification-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.5);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

/************** Add Classification view ***************/
.add-classification-form {
  color: #fff;
}

.add-classification-form button {
  cursor: pointer;
}

.classification-input {
  margin: 10px;
}


/************** Add Inventory view ***************/

.add-inventory-container {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}
.add-inv-title {
  text-align: center;
  padding: 20px;
}

.add-vehicle-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.5);
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

#classificationId {
  margin-bottom: 10px;
}

.inv-form-control {
  padding: 10px;
  border-radius: 5px;
}

.inv-form-group{
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 250px;
  width: 100%;
}

.inv-form-group > * {
  margin: 5px;
}

.add-vehicle-btn {
  text-align: center ;
}

.add-vehicle-btn button {
  cursor: pointer;
}
/********** Error view ***************/

.error-container {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  min-height: 65vh;
  overflow: auto;
}

.error-container h1, p {
  padding: 20px;
}




/********** Footer ***************/

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  border-top: 1px solid #ddd;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #a4b925;
  font-weight: 700;
}


@media (min-width: 768px) {

  .header {
    justify-content: space-between;
    padding: 20px 40px;

  }

  .navbar ul {
    justify-content: space-evenly;
  }
  
  .navbar a {
    font-size: 20px;
  }

  .navbar a:hover {
    color: #a4b925;
    font-weight: 700;
  }

  .welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 40px;
    text-align: left;
  }



  .welcome h2 {
    grid-row: 1;
  }

  .welcome .car-highlight {
    grid-row: 2;
    grid-column: 1/2;
  }


  .welcome .welcome-img-container {
    grid-row: 2;
    grid-column: 2/3;
  }


  .container-review-upgrade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .reviews {
    grid-column: 2/3;
  }

  footer {
    padding: 20px 40px;
  }

  .vehicle-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

}


@media (min-width: 600px) {
.car-img {
    width: 50%;
  }
}