<div class="inv-management-container">
    <h1> <%- title %></h1>

    <% if (locals.message) { %>
        <div class="flash-message <%= message.type %>">
            <%= message.message %>
        </div>
    <% } %>

    <div class="management-links">
        <span> <a href="/inv/add-classification" class="btn">Add new classification</a> </span>
        <span> <a href="/inv/add-inventory" class="btn">Add new inventory</a> </span>
    </div>
</div>